<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->

    @Styles.Render("~/Content/css")

    <link rel="stylesheet" href="~/Content/css/mystyle.css">
    <link rel="stylesheet" href="~/Content/css/InfoLazo.css">
    <link rel="stylesheet" href="~/Content/fontawesome-free-5.4.1-web/css/all.css">

    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="wrapper container">
        @RenderBody()
        <footer>
            <div class="content row container ">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 content-left">
                    <h3>IOT LINK COMPANY</h3>
                    <ul class="list-unstyled">
                        <li>A: 01 Trần Quốc Tuấn, Phường 2, Tỉnh Bến Tre</li>
                        <li>P: 0236.3.846.816 - 0903.556.929</li>
                        <li>E:  info@quyhoachbentre.com</li>
                        <li>W: www.quyhoachbentre.com.vn</li>
                    </ul>
                    <h4>Tính năng | Tải về | Đăng ký | Hỏi đáp</h4>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 content-right">
                    <div class="col-md-12 images">
                        <img src="~/Content/dist/img/page-1_0011_fb.png" alt="Alternate Text" />
                        <img src="~/Content/dist/img/page-1_0012_Twitter.png" alt="Alternate Text" />
                        <img src="~/Content/dist/img/page-1_0013_pinterest.png" alt="Alternate Text" />
                        <img src="~/Content/dist/img/page-1_0014_instar.png" alt="Alternate Text" />
                    </div>
                    <div class="col-md-12">
                        <p>Bản quyền &copy;2018 <a href="#">Công ty CP IOTLink</a></p>
                        <p>Nội dung và biểu tượng thuộc thương hiểu <a href="#">Công ty CP IOTLink</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Content/dist/js/slideshow.js"></script>
</body>
</html>
